@charset "utf-8";

@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}




body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

/* #wrap {
    min-width: 1360px;
} */

/* header-------------------------------- */
#header {
    width: 1320px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    /* height: 85px; */

}

.logo {
    padding: 20px;
}

.gnb {
    display: flex;
}

.gnb a {
    display: block;
    padding: 31px 30px;
    color: #90A6BF;
    font-size: 16px;
    font-weight: 700;

}

.service {
    display: flex;
}

.service a {
    display: block;
    padding: 20px 15px;
}

/* main_banner */
#main_banner img {
    display: block;
}



img {
    width: 100%;
}

/* section1ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#section1_wrap {
    background-color: #edeae5;
    padding-bottom: 85px;
}

.section1 {
    width: 70%;
    margin: 0 auto;
}


/* section2ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#section2 {
    width: 70%;
    margin: 0 auto;
}

.content2 {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10vh;
}



/* section3ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#section3_wrap {
    background-color: #edeae5;
    padding-bottom: 85px;
}

.section3 {
    width: 70%;
    margin: 0 auto;
}


.content3 {
    display: flex;
    justify-content: space-between;
}

.content3 img {
    width: 23%;
}

/* section4ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#section4 {
    width: 100%;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    margin-bottom: 40px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_b {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 85px;

}

.content_b img {
    width: 20%;
}


/* footerㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#footer_wrap {
    background-color: #edeae5;
    padding-bottom: 50px;
}

.footer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}


.left_box img {
    width: 6vw;
    margin-bottom: 10px;
}

.left_box p {
    font-weight: 400;
    font-size: clamp(8px, 1.5vw, 16px);
    line-height: 3vh;
}

.right_box p {
    font-weight: 400;
    font-size: clamp(8px, 1.5vw, 16px);
    line-height: 3vh;
}

.right_box .line {
    margin-bottom: 5px;
    margin-top: 10px;
}

.right_box strong {
    font-weight: 700;
    font-size: clamp(16px, 2vw, 30px);
    line-height: 36px;
    color: #766150;
}

